/* ALL PAGES */

a {
    outline: 0;
    text-decoration: none;
    font-family: 'Fira Sans Extra Condensed', serif;
}

p {
    font-size: 20px;
    padding: 0 10%;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Fira Sans Extra Condensed', serif;
    padding-top: 20px;
    font-size: 30px;
}

h2 {
    font-family: 'Petit Formal Script', serif;
    color: #B31B1B;
    font-size: 2vw;
}

img {
    max-width: 100%;
}

body {
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0px;
    overflow-x: hidden;
    background-color: #2b2d2f;
}

.content {
    display: inline-block;
    text-align: center;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #B31B1B; */
}

#banner {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1px;
    height: 75px;
    z-index: 2;
    background-color: white !important;
}

#banner h1 {
    font-size: 37px;
    padding-left: 10px;
    margin: -2px 0 0 0;
    float: left;
    font-family: 'Fira Sans Extra Condensed', serif;
}

#logo {
    float: right;
    width: 350px;
    padding: 20px 30px 0 0;
}

#ceegsalogo {
    float: left;
    width: 65px;
    padding: 5px 0 0 15px;
}

#nav h1 {
    display: none;
    font-size: 40px;
}

#threeline {
    display: none;
}

#nav {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #B31B1B;
    color: white;
    overflow: hidden;
    z-index: 2;
    text-align: center;
}

#nav ul {
    list-style-type: none;
    text-align: center;
    margin: 10px 0;
}

#nav li {
    margin: 0 2vw;
    display: inline-block;
    text-align: center;
    padding: 0px;
}

#nav a {
    font-size: 23px;
    background-color: inherit;
    color: #eee;
}

#nav a:hover {
    background-color: inherit;
    color: gray;
}

a .nactive {
    color: pink;
}

#modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
}

#modal ul {
    list-style-type: none;
    text-align: center;
    padding: 15vh 0;
}

#modal li {
    margin: 0 2vw;
    text-align: center;
    padding-bottom: 10px;
}

#modal a {
    font-size: 45px;
    background-color: inherit;
    color: black;
}

#modal a:hover {
    color: #B31B1B;
}

#close {
    position: absolute;
    top: -3px;
    right: 20px;
    font-size: 50px;
}

#close:hover {
    color: #B31B1B;
}


/* HOMEPAGE */

.slide_img {
    display: none;
}

.slide_img img {
    max-height: 84vh;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0%;
}

#about {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    max-width: 1200px;
    position: absolute;
    top: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    color: white;
    background-color: rgba(0,0,0,0.8);
    display: none;
}

#aboutclose {
  font-size: 35px;
  padding: 0px 15px;
  float: right;
}

.homepagelinks{
  color: black;
}

.homepagelinks:hover{
  color: #B31B1B;
}

#connected {
    background-color: white;
    display: flex;
    justify-content: center !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
}

#cal{
  padding: 0 3% 60px 3%;
  margin: 0;
  height: auto;
  background-color: white;
}

#cal_frame {
  width: 100%;
  height: 40vw;
  padding-bottom: 20px;
  border: 0;
  margin: 0;
}

#fb {
    width: 340px;
    padding: 0 3% 60px 3%;
    background-color: #eee;
    border-left: solid 2px #ddd;
}

#fb_frame {
    height: 77%;
    border-radius: 20px;
}


/* ABOUT PAGE  */
#about_img {
  height: 300px;
}

#mission {
    background-color: #eee;
    padding: 30px 0;
    margin-top: -4px;
}

#mission h1 {
    padding-top: 10px;
    margin-top: 0px;
}

#mission a {
    font-size: 24px;
    width: 100%;
    height: 20px;
}

#mission p {
  padding: 0 15%;
}

#space_img::-webkit-scrollbar, #mission_img::-webkit-scrollbar {
    display: none;
}

#space_img, #mission_img {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: block;
    padding: 40px 0;
    font-size: 0;
}

#space_img {
    padding-bottom: 0px !important;
    margin-bottom: -5vw;
    align-items: center;
}

.space, .mission {
    display: inline-block;
}

#space_img img, #mission_img img {
    width: 33vw;
    height: 30vw;
    object-fit: cover;
    border: 0px;
    margin: 0;
    padding: 0;
}

/* BOARD MEMBERS PAGE */

#prev_board {
    display: none;
}

#year_nav {
    background-color: #aaaaaa;
    padding: 10px;
}

#year_nav button {
    border: none;
    /* background-color: #eee; */
    font-size: 20px;
    width: 160px;
    margin: 2px;
}

#year_nav .active {
    background-color: #ffcccb;
}

#window {
    background-color: white;
    padding: 30px 0;
}

#window img {
    min-width: 130px;
    max-width: 200px;
}

.member {
    display: inline-block;
    padding: 0.5vw;
    font-size: 20px;
    vertical-align: top;
    width: 200px;
}

.member p {
    font-size: 18px;
    margin: 0 0 5px 0;
}

.member img {
    border-radius: 10px;
    width: 230px;
}

#years p {
    display: inline;
    font-size: 25px;
    padding: 20px 10px;
    margin-top: 10px;
}

#years p .active {
    color: pink;
}


/* GALLERY PAGE  */

#gallery {
  display: flex;
  font-size: 0;
  margin: 5px 5px 5px -5px;
  padding: 0px;
}

#left{
  margin: 0 5px 0 0;
  width: 33.333%;
}

#center{
  width: 33.333%;
  margin: 0 5px;
}

#right{
  margin-left: 5px;
  width: 33.333%;
}

#gallery img {
    width: 100%;
    height: auto;
    margin: 5px;
}

.lozad{
  border-color: gray !important;
}

#gal_window {
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
    background: rgba(0,0,0,0.8);
}

#gal_window img{
  padding-top: 10vh;
  height: 80vh;
  object-fit:cover;
  max-width: 80vw;
}

#gal_close{
  display: none;
  z-index: 3;
  color: #eee;
  position: fixed;
  top: 10px;
  right: 25px;
  font-size: 60px;
}

#leftarrow{
  box-shadow: -5px 5px 0 #eee;
  left: 5%;
}

#rightarrow{
  box-shadow: 5px -5px 0 #eee;
  right: 5%;
}

#leftarrow, #rightarrow{
  display: none;
  position: fixed;
  top: 45vh;
  width: 50px;
  height: 50px;
  z-index: 3;
  transform: rotate(45deg);
}

.label{
  display: inline-block;
  background-color: #ccc;
  padding: 0;
  margin: 5px 5px -5px 5px;
  height: auto;
  width: 100%;
}

.label p{
  margin: 0;
  padding: 0;
}

/* CONTACT PAGE  */

#contact {
    background-color: #eee;
    padding: 10px 0 30px 0;
    margin-top: -20px;
}

.hollister_img {
    width: 100%;
    display: block;
}


/* FOOTER */

footer {
    left: 0;
    right: 0;
    margin: 0;
    font-size: 25px;
    padding-top: 0.1vw;
    background-color: #B31B1B;
    text-align: center;
    width: 100%;
    display: inline-block;
    bottom: 0px;
    color: white;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

footer p {
    /* font-size: 1.5vw; */
    font-family: 'Fira Sans Extra Condensed', serif;
    text-align: center;
}


/* 768px */

@media only screen and (max-width: 768px) {
    #connected {
        display: inline-block;
    }

    #banner {
        display: none;
    }

    #nav ul {
        display: none;
    }

    #nav h1 {
        display: inline;
        float: left;
        font-size: 22px;
        padding: 0px;
        margin-left: 20px;
    }

    #threeline {
        display: inline;
        text-shadow: 2px 2px #800000;
        float: right;
        font-size: 30px;
        padding-top: 5px;
        padding-right: 20px;
    }

    #threeline:hover {
        color: gray;
    }

    h1 {
        font-size: 27px;
    }

    p {
        font-size: 17px;
    }

    #about {
        border: 0px;
        position: relative;
        top: 0px;
        margin-top: -5px;
        color: black;
        background-color: #eee;
        display: block;
    }

    #aboutclose {
      display: none;
    }

    .fb {
        align-items: center;
    }

    #cal{
      padding-bottom: 20px;
    }

    #cal_frame {
        width: 95%;
        height: 500px;
        padding-bottom: 10px;
        border: 0;
        margin: 0px;
    }

    #fb_frame {
        height: 125px;
    }

    #fb {
        width: 100%;
        padding: 2px 0 60px 0;
        background-color: #eee;
        border: 0
    }

    .board {
        display: none;
    }

    #mission {
        height: auto;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    #aboutimg {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }

    #space_img {
        padding-bottom: 0px !important;
        margin-bottom: -20px !important;
        align-items: center;
    }

    #space_img img, #mission_img img {
        width: 70vw;
        height: 50vw;
    }

    #years a, #years p {
        font-size: 20px;
    }

    .hollister_img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .member p {
        font-size: 16px;
    }

    .gal_block .gal_text {
        visibility: visible;
        background-color: rgba(0, 0, 0, 0);
    }

    .gal_text p {
        font-family: 'Fira Sans Extra Condensed', serif;
        top: -30px;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .gal_block {
        width: 100%;
    }

    #gallery{
      margin: 0px;
    }

    #left, #center, #right{
      margin: 0;
    }

    .lozad{
      margin: 0 !important;
      padding: 0;
    }

    .label{
      display: none;
    }

}
